{% extends "base.html" %}
{% load static%}
{% block title %}Login Page{% endblock title %}

{% block content %}
    <header class="masthead">                           
        <div class="container-fluid w-100 h-100" >
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col justify-content-center align-items-center text-center">

                    <form method="post" action="">
                        {% csrf_token %}
                        <p><label for='email' class="h-100 badge badge-primary text-wrap text-uppercase text-white font-weight-bold" style="border-radius:30px;">Utilisateur</label>
                        <input type='text' name='email' value='' id='email'></p>
                        <p><label for='password' class="h-100 badge badge-primary text-wrap text-uppercase text-white font-weight-bold" style="border-radius:30px;">Mot de Pass</label>
                        <input type='text' name='password' value='' id='password'></p>
                        <p><input type="submit" value="login" class="btn btn-primary btn-xl js-scroll-trigger"></p>
                    </form>
                </div>
            </div>
        </div>
    </header>


{% endblock %}