{% extends "base.html" %}
{% load static%}
{% block title %}Login Page{% endblock title %}

{% block content %}
    <header class="masthead">                           
        <div class="container-fluid w-100 h-100" >
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col justify-content-center align-items-center text-center">

                    <form method="post" action="">
                        {% csrf_token %}
                        {{form.as_p}}
                        <p><input type="submit" value="login" class="btn btn-primary btn-xl js-scroll-trigger"></p>
                        <div>
                            <p><h2>{{msg}}</h2></p>
                            <h2><a href='{{ link }}''>{{link_msg}}</a></h2>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>


{% endblock %}