{% extends 'base.html' %}
{% load static%}
{% block title %}Page Products{% endblock title %}

       
<!-- Masthead-->
{% block header %}
    <header class="masthead">                           
        <div class="container-fluid bg-dark w-100 h-100" style="background: url('{{proposed_product.product_image_large}}');background-size: 50%;background-repeat: no-repeat;background-color:black;background-attachment: scroll;background-position: center;">
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col justify-content-center align-items-center text-center">
                    <h1 class="h-100 badge badge-primary text-wrap text-uppercase text-white font-weight-bold" style="border-radius:30px;">{{proposed_product.product_name_fr}}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Proposed products-->
    <section class="page-section" id="services">        
        <div class="container">
            <hr class="divider my-4" />
            <h2 class="text-center font-weight-bold text-uppercase">Vous pouvez remplacer cet aliment par:</h2>
            <h3 class="text-center font-weight-bold text-uppercase">(Cliquez dessus afin de choisir l'aliment de substitution!)</h3>
            <hr class="divider my-4" />
            <form action="" id="message-form" method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="row">
                {% for product in products %}                
                    <div class="col p-1 justify-content-center align-items-center text-center" style="position:relative;">
                        <div style="position:absolute;padding-left:75%;margin-top: -1rem !important;">
                            <div class="badge rounded-circle badge-primary text-wrap text-uppercase text-white font-weight-bold">
                                {% if product.nutrition_grade_fr == 1 %}
                                <h1>A</h1>
                                {% elif product.nutrition_grade_fr == 2 %}
                                <h1>B</h1>
                                {% elif product.nutrition_grade_fr == 3 %}
                                <h1>C</h1>
                                {% elif product.nutrition_grade_fr == 4 %}
                                <h1>D</h1>
                                {% elif product.nutrition_grade_fr == 5 %}
                                <h1>E</h1>
                                {% endif %}                        
                            </div>
                        </div>                                                            
                        <a href="{% url 'product_detail' product.product %}"><img class="img-fluid" src="{{product.product_image_large}}"></a>
                        <h3>{{product.product_name_fr}}</h3>
                        <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger" name="submit" value = "{{product.product}}">Sauvegarder Produit</button>                    
                    </div>
                    {% if forloop.counter|divisibleby:3 %}</div><div class="row clearfix">{% endif %}
                {% endfor %}     
            </form>               
        </div>
    </section>
{% endblock content %}