{% extends 'base.html' %}
{% load static%}
{% block title %}Page Products{% endblock title %}
        
<!-- Masthead-->
{% block header %}
    <header class="masthead">                           
        <div class="container-fluid bg-dark w-100 h-100" style="background:url('{{product_img}}');background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;">
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col justify-content-center align-items-center text-center">
                    <h1 class="h-100 badge badge-primary text-wrap text-uppercase text-white font-weight-bold" style="border-radius:30px;">{{product_name}}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Proposed products-->
    <section class="page-section" id="services">        
        <div class="container">
            <hr class="divider my-4" />
            <h2 class="text-center font-weight-bold text-uppercase">Vous pouvez remplacer cet aliment par:</h2>
            <h3 class="text-center font-weight-bold text-uppercase">(Cliquez dessus afin de choisir l'aliment de substitution!)</h3>
            <hr class="divider my-4" />
            <form action="" id="message-form" method="POST">
                {% csrf_token %}
                {{ form }} 
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <img src={{product_img_choice_1}}>
                        <h2>{{product_name_choice_1}}</h2>                                                               
                        <input type="submit" id="image_buton" name="choice_boutton" value = "P1 choisi">
                        
                    </div>
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <img src={{product_img_choice_2}}>
                        <h2>{{product_name_choice_2}}</h2>                       
                        <input type="submit" id="image_buton" name="choice_boutton" value = "P2 choisi">
                    </div>
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <img src={{product_img_choice_3}}>
                        <h2>{{product_name_choice_3}}</h2>                    
                        <input type="submit" id="image_buton" name="choice_boutton" value = "P3 choisi">
                    </div>
                </div>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <img src={{product_img_choice_4}}>
                        <h2>{{product_name_choice_4}}</h2>                     
                        <input type="submit" id="image_buton"  name="choice_boutton" value = "P4 choisi">
                    </div>
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <img src={{product_img_choice_5}}>
                        <h2>{{product_name_choice_5}}</h2>                        
                        <input type="submit" id="image_buton" name="choice_boutton" value = "P5 choisi">
                    </div>
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <img src={{product_img_choice_6}}>
                        <h2>{{product_name_choice_6}}</h2>                     
                        <input type="submit" id="image_buton" name="choice_boutton" value = "P6 choisi">                    
                    </div>
                </div>
            </form>               
        </div>
    </section>
{% endblock content %}