{% extends 'base.html' %}
{% load static%}
{% block title %}Page Product{% endblock title %}


<!-- Masthead-->
{% block header %}
    <header class="masthead">                           
        <div class="container-fluid bg-dark w-100 h-100" style="background: url('{{product.product_image_large}}');background-size: 50%;background-repeat: no-repeat;background-color:black;background-attachment: scroll;background-position: center;">
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col justify-content-center align-items-center text-center">
                    <h1 class="h-100 badge badge-primary text-wrap text-uppercase text-white font-weight-bold" style="border-radius:30px;">{{product.product_name_fr}}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Proposed products-->
    <section class="page-section" id="services">        
        <div class="container">
            <hr class="divider my-4" />
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <h3>Nutriscore</h3>                                                           
                {% if product.nutrition_grade_fr == 1 %}
                <img src="{% static 'dist/assets/img/nutri-score-A.png' %}" width="100%">
                {% elif product.nutrition_grade_fr == 2 %}
                <img src="{% static 'dist/assets/img/nutri-score-B.png' %}" width="100%">
                {% elif product.nutrition_grade_fr == 3 %}
                <img src="{% static 'dist/assets/img/nutri-score-C.png' %}" width="100%">
                {% elif product.nutrition_grade_fr == 4 %}
                <img src="{% static 'dist/assets/img/nutri-score-D.png' %}" width="100%">
                {% elif product.nutrition_grade_fr == 5 %}
                <img src="{% static 'dist/assets/img/nutri-score-E.png' %}" width="100%">
                {% else %}
                <img src="{% static 'dist/assets/img/scores.png' %}">
                {% endif %}                        
                </div>
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <h3>Repéres Nutritionels pour 100g </h3>                
                    <img src="{{product.product_image_nutrition_large}}">
                </div>
            </div>
            <hr class="divider my-4" />
            <header class="masthead h-25">                           
                <div class="container-fluid w-100 h-25 bg-transparent" style="background-image:none" >
                    <div class="row h-25 w-100 justify-content-center align-items-center text-cente">
                        <div class="col h-25 justify-content-center align-items-center text-center">
                            <a href="{{product.url}}"><h1 class="h-25 badge badge-primary text-wrap text-uppercase text-white" style="border-radius:30px;">LIEN VERS LA PAGE OPENFOODFACTS DE: {{product.product_name_fr}}</h1></a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </section>
{% endblock content %}