<div class="col-lg-8 align-self-baseline">
    <h2 class="text-white-75 font-weight-light mb-5">Tropuvez un produit de substitution pour ceux que vous consomez tous les jours!</h2>
    <form class="col" action="{% url 'search_product' %}" method="get" accept-charset="utf-8">
        <div class="form-group">
            <label for="searchForm">Chercher un produit</label>            
            <input id="searchForm" class="form-control" name="query">
        </div>
    <span class="help-block" id="helpBlock">Trouvez le produit de vos rêves en tapant son nom afin de trouver un produit equivalent.</span>
    </form><
    <div class="text-danger">
        <h2>{{attention}}</h2>
    </div>
</div>
